# VIM swap files.
.*.swp

# The build directory.
build/

# Protege XML catalog files.
catalog-*.xml

# Spreadsheet files in the "src" directory.
src/*.ods
src/*.xls
src/*.xlsx

# Compiled Jython code.
*py.class

# LibreOffice lock files.
.~lock*#

